In [ ]:
#%%pixie_debugger
#import modules needed
import numpy 
import pandas as pd
import requests
from sqlalchemy import create_engine
#import pixiedust

#make postgres connection
host = 'gispgdb.nrel.gov'
dbase = 'dav-gis'
user = 'kwaechte'
pwd = 'steeltree18'
con = create_engine('postgresql://{user}:{pwd}@{host}:5432/{dbase}'.format(host=host, dbase=dbase, user=user, pwd=pwd))

doe_prototype_list = {
    'null', 'outpatient', 'hospital', 'no_match', 'large_office', 
    'midrise_apartment', 'medium_office', 'secondary_school', 
    'warehouse', 'small_hotel', 'primary_school', 'small_office', 'retail'
}

state_codes = {
    'WA': '53', 'DE': '10', 'DC': '11', 'WI': '55', 'WV': '54', 'HI': '15',
    'FL': '12', 'WY': '56', 'PR': '72', 'NJ': '34', 'NM': '35', 'TX': '48',
    'LA': '22', 'NC': '37', 'ND': '38', 'NE': '31', 'TN': '47', 'NY': '36',
    'PA': '42', 'AK': '02', 'NV': '32', 'NH': '33', 'VA': '51', 'CO': '08',
    'CA': '06', 'AL': '01', 'AR': '05', 'VT': '50', 'IL': '17', 'GA': '13',
    'IN': '18', 'IA': '19', 'MA': '25', 'AZ': '04', 'ID': '16', 'CT': '09',
    'ME': '23', 'MD': '24', 'OK': '40', 'OH': '39', 'UT': '49', 'MO': '29',
    'MN': '27', 'MI': '26', 'RI': '44', 'KS': '20', 'MT': '30', 'MS': '28',
    'SC': '45', 'KY': '21', 'OR': '41', 'SD': '46'
}

# STATE NOT EXISTS COSTAR
sql_hospital = "select * from costar.commercial_re_blk_gbs where doe_prototype = 'hospital'"
print ("reading table into dataframe")
df_hospital = pd.read_sql(sql_hospital, con)

df_hospital.head(5)

In [ ]:
print ("HOSPITAL. data received. starting loop.")
for i, row in df_hospital.iterrows():
#    print (i)
    for state, fips_state in state_codes.items():
        if fips_state == row.gisjoin[1:3]:
            df_hospital.at[i, 'state'] = state
#            print (" || row.gisjoin="+row.gisjoin[1:3]+"|| fips_state = "+fips_state)
print ("loop done.")
df_hospital.tail(5)

In [ ]:
df_hospital.tail(5)

In [ ]:
import numpy 
import pandas as pd
import requests
from sqlalchemy import create_engine
import time
start = time.time()
print ("time started.")
#make postgres connection
host = 'gispgdb.nrel.gov'
dbase = 'dav-gis'
user = 'kwaechte'
pwd = 'steeltree18'
con = create_engine('postgresql://{user}:{pwd}@{host}:5432/{dbase}'.format(host=host, dbase=dbase, user=user, pwd=pwd))

# START RUNNING HERE
# did this work? 11097562 records in df, 0 records in table
print ("starting export.")
out_table = 'comm_re_blk'
out_schema = 'kwaechte'
if_exists_decision = 'replace'
df_hospital.to_sql(out_table, con, schema=out_schema, if_exists=if_exists_decision)
end = time.time()
print ("Took %f minutes" % ((end - start) / 60))
print ("dataframe copied to pg.")

In [ ]:
del df_hospital
print ("HOSPITAL dataframe deleted.")

In [1]:
# null
import numpy 
import pandas as pd
import requests
from sqlalchemy import create_engine
import time

#make postgres connection
host = 'gispgdb.nrel.gov'
dbase = 'dav-gis'
user = 'kwaechte'
pwd = 'steeltree18'
con = create_engine('postgresql://{user}:{pwd}@{host}:5432/{dbase}'.format(host=host, dbase=dbase, user=user, pwd=pwd))

start = time.time()
sql_null = "select * from costar.commercial_re_blk_gbs where doe_prototype is null"
print ("reading table into dataframe")
df_null = pd.read_sql(sql_null, con)
end = time.time()
print ("Took %f minutes" % ((end - start) / 60))
df_null.tail(5)

reading table into dataframe
Took 62.192166 minutes

,bldgcount,gisjoin,sqft,gbs,doe_prototype,source,geoid
33292684,0.0,G72015307506022014,0.00000,Agriculture,None,hazus,72015307506022014
33292685,4.0,G72015307506022013,5334.00011,Single Family Dwelling,None,hazus,72015307506022013
33292686,23.0,G72015307506022014,30670.49980,Single Family Dwelling,None,hazus,72015307506022014
33292687,0.0,G72015307506022014,0.00000,Multi-dwelling (50+ units),None,hazus,72015307506022014
33292688,0.0,G72015307506022015,0.00000,Agriculture,None,hazus,72015307506022015

In [ ]:
state_codes = {
    'WA': '53', 'DE': '10', 'DC': '11', 'WI': '55', 'WV': '54', 'HI': '15',
    'FL': '12', 'WY': '56', 'PR': '72', 'NJ': '34', 'NM': '35', 'TX': '48',
    'LA': '22', 'NC': '37', 'ND': '38', 'NE': '31', 'TN': '47', 'NY': '36',
    'PA': '42', 'AK': '02', 'NV': '32', 'NH': '33', 'VA': '51', 'CO': '08',
    'CA': '06', 'AL': '01', 'AR': '05', 'VT': '50', 'IL': '17', 'GA': '13',
    'IN': '18', 'IA': '19', 'MA': '25', 'AZ': '04', 'ID': '16', 'CT': '09',
    'ME': '23', 'MD': '24', 'OK': '40', 'OH': '39', 'UT': '49', 'MO': '29',
    'MN': '27', 'MI': '26', 'RI': '44', 'KS': '20', 'MT': '30', 'MS': '28',
    'SC': '45', 'KY': '21', 'OR': '41', 'SD': '46'
}
print ("NULL. data received. starting loop.")
start = time.time()
for i, row in df_null.iterrows():
#    print (i)
    for state, fips_state in state_codes.items():
        if fips_state == row.gisjoin[1:3]:
            df_null.at[i, 'state'] = state
#            print (" || row.gisjoin="+row.gisjoin[1:3]+"|| fips_state = "+fips_state)
end = time.time()
print ("Took %f minutes" % ((end - start) / 60))
print ("loop done.")
df_null.tail(5)

In [ ]:
out_table = 'non_comm_re'
out_schema = 'kwaechte'
if_exists_decision = 'replace'
df_null.to_sql(out_table, con, schema=out_schema, if_exists=if_exists_decision)
print ("NULL dataframe copied to pg.")

In [2]:
del df_null
print ("NULL dataframe deleted.")

NameError: name 'df_null' is not defined

In [ ]:
# no_match
sql_nomatch = "select * from costar.commercial_re_blk_gbs where doe_prototype = 'no_match'"
print ("reading table into dataframe")
df_nomatch = pd.read_sql(sql_nomatch, con)
df_nomatch.head(5)

reading table into dataframe

In [ ]:
print ("NO_MATCH. data received. starting loop.")

for i, row in df_nomatch.iterrows():
#    print (i)
    for state, fips_state in state_codes.items():
        if fips_state == row.gisjoin[1:3]:
            df_nomatch.at[i, 'state'] = state
#            print (" || row.gisjoin="+row.gisjoin[1:3]+"|| fips_state = "+fips_state)
print ("loop done.")
df_nomatch.head(5)

In [ ]:
out_table = 'comm_re_blk'
out_schema = 'kwaechte'
if_exists_decision = 'append'
df_nomatch.to_sql(out_table, con, schema=out_schema, if_exists=if_exists_decision)

In [1]:
del df_nomatch
print ("NO_MATCH dataframe deleted.")

NameError: name 'df_nomatch' is not defined

In [2]:
#import modules needed
import numpy 
import pandas as pd
import requests
from sqlalchemy import create_engine
#import pixiedust

#make postgres connection
host = 'gispgdb.nrel.gov'
dbase = 'dav-gis'
user = 'kwaechte'
pwd = 'steeltree18'
con = create_engine('postgresql://{user}:{pwd}@{host}:5432/{dbase}'.format(host=host, dbase=dbase, user=user, pwd=pwd))

# outpatient
sql_outpatient = "select * from costar.commercial_re_blk_gbs where doe_prototype = 'outpatient'"
print ("reading table into dataframe")
df_outpatient = pd.read_sql(sql_outpatient, con)
df_outpatient.tail(5)

reading table into dataframe

,bldgcount,gisjoin,sqft,gbs,doe_prototype,source,geoid
11098670,0.0,G06007100103002171,0.0,Medical Office/Clinic,outpatient,hazus,06007100103002171
11098671,0.0,G06007100103002172,0.0,Medical Office/Clinic,outpatient,hazus,06007100103002172
11098672,0.0,G06007100103003008,0.0,Medical Office/Clinic,outpatient,hazus,06007100103003008
11098673,0.0,G06007100103004004,0.0,Medical Office/Clinic,outpatient,hazus,06007100103004004
11098674,0.0,G06007100103004005,0.0,Medical Office/Clinic,outpatient,hazus,06007100103004005

In [4]:
print ("OUTPATIENT. data received. starting loop.")

import numpy 
import pandas as pd
import requests
from sqlalchemy import create_engine
#import pixiedust

#make postgres connection
host = 'gispgdb.nrel.gov'
dbase = 'dav-gis'
user = 'kwaechte'
pwd = 'steeltree18'
con = create_engine('postgresql://{user}:{pwd}@{host}:5432/{dbase}'.format(host=host, dbase=dbase, user=user, pwd=pwd))

state_codes = {
    'WA': '53', 'DE': '10', 'DC': '11', 'WI': '55', 'WV': '54', 'HI': '15',
    'FL': '12', 'WY': '56', 'PR': '72', 'NJ': '34', 'NM': '35', 'TX': '48',
    'LA': '22', 'NC': '37', 'ND': '38', 'NE': '31', 'TN': '47', 'NY': '36',
    'PA': '42', 'AK': '02', 'NV': '32', 'NH': '33', 'VA': '51', 'CO': '08',
    'CA': '06', 'AL': '01', 'AR': '05', 'VT': '50', 'IL': '17', 'GA': '13',
    'IN': '18', 'IA': '19', 'MA': '25', 'AZ': '04', 'ID': '16', 'CT': '09',
    'ME': '23', 'MD': '24', 'OK': '40', 'OH': '39', 'UT': '49', 'MO': '29',
    'MN': '27', 'MI': '26', 'RI': '44', 'KS': '20', 'MT': '30', 'MS': '28',
    'SC': '45', 'KY': '21', 'OR': '41', 'SD': '46'
}

for i, row in df_outpatient.iterrows():
#    print (i)
    for state, fips_state in state_codes.items():
        if fips_state == row.gisjoin[1:3]:
            df_outpatient.at[i, 'state'] = state
#            print (" || row.gisjoin="+row.gisjoin[1:3]+"|| fips_state = "+fips_state)
print ("loop done.")
df_outpatient.tail(5)

OUTPATIENT. data received. starting loop.
loop done.

,bldgcount,gisjoin,sqft,gbs,doe_prototype,source,geoid,state
11098670,0.0,G06007100103002171,0.0,Medical Office/Clinic,outpatient,hazus,06007100103002171,CA
11098671,0.0,G06007100103002172,0.0,Medical Office/Clinic,outpatient,hazus,06007100103002172,CA
11098672,0.0,G06007100103003008,0.0,Medical Office/Clinic,outpatient,hazus,06007100103003008,CA
11098673,0.0,G06007100103004004,0.0,Medical Office/Clinic,outpatient,hazus,06007100103004004,CA
11098674,0.0,G06007100103004005,0.0,Medical Office/Clinic,outpatient,hazus,06007100103004005,CA

In [11]:
### RESUME HERE!!!!
import time
import pandas as pd
#from sqlalchemy import create engine
print("starting export")
#make postgres connection
host = 'gispgdb.nrel.gov'
dbase = 'dav-gis'
user = 'kwaechte'
pwd = 'steeltree18'
con = create_engine('postgresql://{user}:{pwd}@{host}:5432/{dbase}'.format(host=host, dbase=dbase, user=user, pwd=pwd))
start = time.time()
out_table = 'largeoffice'
out_schema = 'kwaechte'
if_exists_decision = 'replace'
df_outpatient.to_sql(out_table, con, schema=out_schema, if_exists=if_exists_decision)
end = time.time()
print("Took %f minutes for dataframe export" % ((end - start) / 60))

starting export
Took 104.262373 minutes for dataframe export

In [12]:
del df_outpatient
print ("outpatient dataframe deleted.")

NO_MATCH dataframe deleted.

In [10]:
sql_largeoffice = "select * from costar.commercial_re_blk_gbs where doe_prototype = 'large_office'"
print ("reading table into dataframe")
df_largeoffice = pd.read_sql(sql_largeoffice, con)

df_largeoffice.tail(5)

reading table into dataframe

,bldgcount,gisjoin,sqft,gbs,doe_prototype,source,geoid
11097810,0.0,G06007100104091225,0.0,General Services,large_office,hazus,06007100104091225
11097811,0.0,G06007100104091226,0.0,General Services,large_office,hazus,06007100104091226
11097812,0.0,G06007100104091227,0.0,General Services,large_office,hazus,06007100104091227
11097813,0.0,G06007100104091228,0.0,General Services,large_office,hazus,06007100104091228
11097814,0.0,G06007100104091229,0.0,General Services,large_office,hazus,06007100104091229

In [14]:
print ("LARGE OFFICE. data received. starting loop.")
start = time.time()
for i, row in df_largeoffice.iterrows():
#    print (i)
    for state, fips_state in state_codes.items():
        if fips_state == row.gisjoin[1:3]:
            df_largeoffice.at[i, 'state'] = state
#            print (" || row.gisjoin="+row.gisjoin[1:3]+"|| fips_state = "+fips_state)
end = time.time()
print ("took %f minutes for state matching" % ((end - start) / 60))
print ("loop done.")
df_largeoffice.tail(5)

LARGE OFFICE. data received. starting loop.
took 91.338141 minutes for state matching
loop done.

,bldgcount,gisjoin,sqft,gbs,doe_prototype,source,geoid,state
11097810,0.0,G06007100104091225,0.0,General Services,large_office,hazus,06007100104091225,CA
11097811,0.0,G06007100104091226,0.0,General Services,large_office,hazus,06007100104091226,CA
11097812,0.0,G06007100104091227,0.0,General Services,large_office,hazus,06007100104091227,CA
11097813,0.0,G06007100104091228,0.0,General Services,large_office,hazus,06007100104091228,CA
11097814,0.0,G06007100104091229,0.0,General Services,large_office,hazus,06007100104091229,CA

In [16]:
import time
import pandas as pd
#from sqlalchemy import create engine

#make postgres connection
host = 'gispgdb.nrel.gov'
dbase = 'dav-gis'
user = 'kwaechte'
pwd = 'steeltree18'
con = create_engine('postgresql://{user}:{pwd}@{host}:5432/{dbase}'.format(host=host, dbase=dbase, user=user, pwd=pwd))
start = time.time()
out_table = 'real_largeoffice'
out_schema = 'kwaechte'
if_exists_decision = 'replace'
df_largeoffice.to_sql(out_table, con, schema=out_schema, if_exists=if_exists_decision)
end = time.time()
print("Took %f minutes for dataframe export" % ((end - start) / 60))

Took 91.391836 minutes for dataframe export

In [17]:
del df_largeoffice
print("df_largeoffice deleted.")

df_largeoffice deleted.

In [1]:
# midrise_apartment
import time 
import pandas as pd
from sqlalchemy import create_engine 
#make postgres connection
host = 'gispgdb.nrel.gov'
dbase = 'dav-gis'
user = 'kwaechte'
pwd = 'steeltree18'
con = create_engine('postgresql://{user}:{pwd}@{host}:5432/{dbase}'.format(host=host, dbase=dbase, user=user, pwd=pwd))

doe_prototype = 'midrise_apartment'

start = time.time()
print(start)
sql = "select * from costar.commercial_re_blk_gbs where doe_prototype = '"+doe_prototype+"' and bldgcount > 0 and sqft > 0"

print ("reading table into dataframe")
df = pd.read_sql(sql, con)
print (doe_prototype+". data received. starting loop.")
state_codes = {
    'WA': '53', 'DE': '10', 'DC': '11', 'WI': '55', 'WV': '54', 'HI': '15',
    'FL': '12', 'WY': '56', 'PR': '72', 'NJ': '34', 'NM': '35', 'TX': '48',
    'LA': '22', 'NC': '37', 'ND': '38', 'NE': '31', 'TN': '47', 'NY': '36',
    'PA': '42', 'AK': '02', 'NV': '32', 'NH': '33', 'VA': '51', 'CO': '08',
    'CA': '06', 'AL': '01', 'AR': '05', 'VT': '50', 'IL': '17', 'GA': '13',
    'IN': '18', 'IA': '19', 'MA': '25', 'AZ': '04', 'ID': '16', 'CT': '09',
    'ME': '23', 'MD': '24', 'OK': '40', 'OH': '39', 'UT': '49', 'MO': '29',
    'MN': '27', 'MI': '26', 'RI': '44', 'KS': '20', 'MT': '30', 'MS': '28',
    'SC': '45', 'KY': '21', 'OR': '41', 'SD': '46'
}
midpoint1 = time.time()
print("midpoint reached. took %f minutes." % ((midpoint1 - start) / 60))
for i, row in df.iterrows():
    for state, fips_state in state_codes.items():
        if fips_state == row.gisjoin[1:3]:
            df.at[i, 'state'] = state
print ("loop done.")
midpoint2 = time.time()
print("state matched. Took %f minutes." % ((midpoint2 - midpoint1) / 60))
df.to_csv(path_or_buf='/Users/kwaechte/Documents/cleap/midrise_apartment.csv', sep=',', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression=None, quoting=None, quotechar='"', line_terminator='\n', chunksize=None, date_format=None, doublequote=True, escapechar=None, decimal='.')
end = time.time()
print("took %f minutes for pg export" % ((end - midpoint2) / 60))

1548704201.765991
reading table into dataframe
midrise_apartment. data received. starting loop.
midpoint reached. took 38.530259 minutes.
loop done.
state matched. Took 14.705151 minutes.

KeyboardInterrupt:

In [6]:
import time 
import pandas as pd
from sqlalchemy import create_engine 
#make postgres connection
host = 'gispgdb.nrel.gov'
dbase = 'dav-gis'
user = 'kwaechte'
pwd = 'steeltree18'
con = create_engine('postgresql://{user}:{pwd}@{host}:5432/{dbase}'.format(host=host, dbase=dbase, user=user, pwd=pwd))

doe_prototype = 'large_office'

start = time.time()
print(start)
sql = "select * from costar.commercial_re_blk_gbs where doe_prototype = '"+doe_prototype+"' and sqft > 0"

print ("reading table into dataframe")
df = pd.read_sql(sql, con)
print (doe_prototype+". data received. starting loop.")
state_codes = {
    'WA': '53', 'DE': '10', 'DC': '11', 'WI': '55', 'WV': '54', 'HI': '15',
    'FL': '12', 'WY': '56', 'PR': '72', 'NJ': '34', 'NM': '35', 'TX': '48',
    'LA': '22', 'NC': '37', 'ND': '38', 'NE': '31', 'TN': '47', 'NY': '36',
    'PA': '42', 'AK': '02', 'NV': '32', 'NH': '33', 'VA': '51', 'CO': '08',
    'CA': '06', 'AL': '01', 'AR': '05', 'VT': '50', 'IL': '17', 'GA': '13',
    'IN': '18', 'IA': '19', 'MA': '25', 'AZ': '04', 'ID': '16', 'CT': '09',
    'ME': '23', 'MD': '24', 'OK': '40', 'OH': '39', 'UT': '49', 'MO': '29',
    'MN': '27', 'MI': '26', 'RI': '44', 'KS': '20', 'MT': '30', 'MS': '28',
    'SC': '45', 'KY': '21', 'OR': '41', 'SD': '46'
}
midpoint1 = time.time()
print("midpoint reached. took %f minutes." % ((midpoint1 - start) / 60))
for i, row in df.iterrows():
    for state, fips_state in state_codes.items():
        if fips_state == row.gisjoin[1:3]:
            df.at[i, 'state'] = state
print ("loop done.")
midpoint2 = time.time()
print("state matched. Took %f minutes." % ((midpoint2 - midpoint1) / 60))
df.to_csv(path_or_buf='/Users/kwaechte/Documents/cleap/'+doe_prototype+'.csv', sep=',', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression=None, quoting=None, quotechar='"', line_terminator='\n', chunksize=None, date_format=None, doublequote=True, escapechar=None, decimal='.')
end = time.time()
print("took %f minutes for csv export" % ((end - midpoint2) / 60))

1548782077.877929
reading table into dataframe
large_office. data received. starting loop.
midpoint reached. took 76.945706 minutes.
loop done.
state matched. Took 1.340002 minutes.
took 0.010993 minutes for csv export

In [ ]:
#How many records? 
len(df_final.loc[df_final.doe_prototype.isnotnull()])